USE [iti_exam]
GO
/****** Object:  StoredProcedure [dbo].[deleteCourseTopic]    Script Date: 3/25/2024 8:06:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   proc [dbo].[deleteCourseTopic] @courseId int, @topicName nvarchar(255)
as
begin
	delete from CourseTopics where CourseID=@courseId and Topic = @topicName
end
GO
