USE [iti_exam]
GO
/****** Object:  StoredProcedure [dbo].[AddInstructorToCourse]    Script Date: 3/25/2024 8:06:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[AddInstructorToCourse]
    @CourseID INT,
    @InstructorID INT
AS
BEGIN
    -- Insert the new entry
    INSERT INTO Instructor_Courses (CourseID, InstructorID)
    VALUES (@CourseID, @InstructorID)
END
GO
