USE [iti_exam]
GO
/****** Object:  StoredProcedure [dbo].[getAllExams]    Script Date: 3/25/2024 8:06:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[getAllExams]
as
begin
select * from Exams
end
GO
