USE [iti_exam]
GO
/****** Object:  StoredProcedure [dbo].[GetExamTable]    Script Date: 3/25/2024 8:06:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetExamTable]
AS
BEGIN
    SELECT CourseName, ExamDate
    FROM Courses
    INNER JOIN Exams ON Courses.CourseID = Exams.CourseID
END
GO
